In [1]:
"""
Lol what to write!
Owner:- Divyansh Bhati
Copyrights:- Divyansh Bhati
Lel:- Divyansh Bhati
"""

# Front-end:- Python(Anaconda-Navigator)
# Back-end:- Python(Python-Module-urllib and os) [imported below]
# Telegram:- ARROWDIV

'\nLol what to write!\nOwner:- Divyansh Bhati\nCopyrights:- Divyansh Bhati\nLel:- Divyansh Bhati\n'

In [2]:
import pandas as pd
import matplotlib.pyplot as Mat
import numpy as np
import urllib
import os

In [3]:
url = "https://raw.githubusercontent.com/DivyanshAlSaud/NSE-Stocks-Project/main/High-Low-NSE.csv"
file_path = os.path.join("data","High-Low-NSE")

In [4]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path,"High-Low-NSE.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\High-Low-NSE\\High-Low-NSE.csv',
 <http.client.HTTPMessage at 0x28903952490>)

In [5]:
DataHighLow = pd.read_csv(csv_path)

In [6]:
DataHighLow

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,20MICRONS,EQ,60.90,62.75,60.00,61.00,61.10,61.20,107412,6.567636e+06,01-OCT-2021,1940,INE144J01027,NaN
1,21STCENMGM,EQ,49.20,49.20,49.20,49.20,49.20,48.25,9960,4.900320e+05,01-OCT-2021,31,INE253B01015,NaN
2,3MINDIA,EQ,24800.00,24900.00,24500.00,24863.20,24896.40,24832.50,1336,3.301094e+07,01-OCT-2021,932,INE470A01017,NaN
3,3PLAND,BE,14.00,14.00,13.20,13.90,13.90,13.70,5015,6.955105e+04,01-OCT-2021,37,INE105C01023,NaN
4,5PAISA,EQ,462.00,479.00,455.65,476.05,472.00,458.35,37331,1.755011e+07,01-OCT-2021,1270,INE618L01018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2110,ZOMATO,EQ,137.30,140.50,137.00,138.00,138.20,136.60,11940576,1.658209e+09,01-OCT-2021,96250,INE758T01015,NaN
2111,ZOTA,EQ,387.00,409.80,382.05,395.70,396.00,391.15,82877,3.323520e+07,01-OCT-2021,3450,INE358U01012,NaN
2112,ZUARI,BE,130.45,130.45,125.25,127.85,129.00,130.65,35523,4.522843e+06,01-OCT-2021,458,INE840M01016,NaN
2113,ZUARIGLOB,BE,132.00,134.95,130.05,130.90,130.85,133.70,25465,3.348838e+06,01-OCT-2021,138,INE217A01012,NaN
2114,ZYDUSWELL,EQ,2370.00,2378.00,2306.60,2320.95,2320.00,2366.60,19602,4.584106e+07,01-OCT-2021,3480,INE768C01010,NaN

In [7]:
# Use your mind to fool external 
"""
Hint:- 
1. Use .min() and .max() in high and low columns.
2. Use .min() and .max() in last and prevclose
3. Use your cerebrum(brain).
"""

'\nHint:- \n1. Use .min() and .max() in high and low columns.\n2. Use .min() and .max() in last and prevclose\n3. Use your cerebrum(brain).\n'